@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300&family=Handjet:wght@300&family=Inter&family=Montserrat:wght@100&family=Oswald:wght@700&family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0711e6
}

.page {
    width: 90%;
    height: 100vh;
    background: #0711e6;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page ul {
    position: relative;
}

.page ul li {
    display: inline-block;
    margin-top: 20px;
}

.page ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 170px;
    font-family: roboto;
    transition: 0.5s;
}

/*HOVER*/
.page ul li a:hover {
    color: black;
}

.page h1 {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-family: inter;
    color: #fff;
}

.page h1 img {
    position: relative;
    top: 20px;
    left: 0;
    width: 150px;
    border-radius: 50%;
    border: 2px solid turquoise;
}

.page span {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: roboto;
    color: #111;
}

.social-logos {
    display: flex;
    flex-direction: column;
    float: right;
}

.page img {
    position: fixed;
    width: 30px;
    position: relative;
    right: 10px;
    margin-top: 10px;
}

/*ABOUT ME*/

.about {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0710c5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about h2 {
    margin-top: 100px;
    font-size: 50px;
    font-family: inter;
    font-weight: bolder;
    color: #fff;
}

.about p {
    font-family: roboto;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
}

.about p b {
    color: rgb(0, 0, 0);
}

.about img {
    margin-top: 20px;
    width: 70px;
}

.social-logos img {
    width: 30px;
}

/*MY PROJECTS*/

.projects {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0711e6;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects h2 {
    margin-top: 100px;
    font-size: 50px;
    font-family: inter;
    font-weight: bolder;
    color: #fff;
}
/*CARDS*/
.cards {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.cards h2 {
    color: #444ce9;
}

.card-1 {
    width: 300px;
    height: 350px;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    background: url(/Photos/code.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px #fff;
    border-radius: 30px;
    transition: 0.5s;
}

.card-1:hover {
    transform: translateY(-10px);
}

.foot {
    width: 100%;
    height: 150px;
    background: #111111e0;
    position: absolute;
    bottom: 0;
    border-radius: 30px;
}

.foot h2 {
    position: relative;
    font-size: 20px;
    bottom: 60%;
}

.foot p {
    position: relative;
    font-size: 20px;
    bottom: 40%;
    color: #fff;
    font-family: roboto;
}

.foot img {
    width: 50px;
    position: relative;
    bottom: 35%;
}