@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300&family=Handjet:wght@300&family=Inter&family=Montserrat:wght@100&family=Oswald:wght@700&family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0711e6
}

.page {
    width: 100%;
    height: 100vh;
}

.video-container {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.video-container video {
    width: 100%;
    position: absolute;
    top: -5%;
}

.page h2 {
    color: #fff;
    font-family: comfortaa;
    position: absolute;
    top: 20px;
    left: 20px;
}

.social-logos {
    display: flex;
    flex-direction: column;
    right: 10px;
    position: fixed;
    z-index: 2;
}

.page img {
    position: fixed;
    width: 30px;
    position: relative;
    right: 10px;
    margin-top: 10px;
}

/*ABOUT ME*/

.about {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(#0710c5, #1b26ee);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about h2 {
    margin-top: 50px;
    font-size: 50px;
    font-family: inter;
    font-weight: bolder;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #111);
}
/*DÜZENLENECEK, BURADA KALDIN*/
.about .summary {
    width: 500px;
    height: 400px;
    position: relative;
    display: flex;
    text-align: justify;
    margin-left: 20px;
}

.about p {
    font-family: inter;
    font-size: 15px;
    color: #ffffff;
    margin-top: 30px;
}

/*CAREER*/
.mini-portfolio {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0711e6;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.mini-portfolio h2 {
    margin-top: 30px;
    font-size: 40px;
    font-family: inter;
    font-weight: bolder;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    color: #fff;
    z-index: 1;
    filter: drop-shadow(5px 5px 5px #111);
}

.mini-portfolio img {
    z-index: 0;
    position: absolute;
    display: flex;
    top: 30px;
    left: 40%;
    opacity: 0.3;
}

.mini-portfolio img:last-child {
    position: absolute;
}

.mini-portfolio div {
    position: relative;
    color: #fff;
    font-family: inter;
    font-size: 15px;
}

.y-2014, .y-2015,  .y-2016, .y-2016,
.y-2017, .y-2018, .y-2019, .y-2020,
.y-2021, .y-2022, .y-2023 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.y-2015, .y-2017, .y-2017, .y-2019,
 .y-2021, .y-2023 {
    top: 40px;
} 

.mini-portfolio span {
    font-weight: bolder;
    font-size: 20px;
    color: #050a61;
}

.goals {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0710c5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goals h2 {
    margin-top: 50px;
    font-size: 50px;
    font-family: inter;
    font-weight: bolder;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #111);
}

.goals-text {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
    top: 100px;
}

.goals-text p {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 20%;
    font-family: inter;
    text-align: justify;
    color: #111;
    z-index: 1;
    color: #fff;
}

.goals img {
    width: 150px;
    position: absolute;
    right: 15%;
    top: 15%;
}

.goals .goal-cup {
    position: absolute;
    display: flex;
    left: 20%;
    top: 5%;
    width: 350px;
    animation: goals-cup 5s infinite linear;
}

/*CUP ANIMATION*/
@keyframes goals-cup {
    0% {
        transform: translateY(35%);
    }
    50% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(35%);
    }
}

/*MY PROJECTS*/
.projects {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0711e6;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects h2 {
    margin-top: 50px;
    font-size: 50px;
    font-family: inter;
    font-weight: bolder;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #111);
}
/*CARDS*/
.cards {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.cards h2 {
    color: #444ce9;
}

.card-1 {
    width: 300px;
    height: 350px;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    background: url(/Photos/card-1.png);
    background-size: cover;
    box-shadow: 5px 5px 5px #111;
    border-radius: 30px;
    transition: 0.5s;
}

.card-1:nth-child(2) {
    background: url(/Photos/card-2.png);
    background-size: cover;
}

.card-1:nth-child(3) {
    background: url(/Photos/card-3.png);
    background-size: cover;
}

.card-1:nth-child(4) {
    background: url(/Photos/card-4.png);
    background-size: cover;
}

.card-1:hover {
    transform: translateY(-10px);
}

.foot {
    width: 100%;
    height: 150px;
    background: #111111e0;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.foot h2 {
    position: relative;
    font-size: 20px;
    bottom: 20%;
}

.foot p {
    position: relative;
    font-size: 12px;
    bottom: 10%;
    color: #fff;
    font-family: inter;
}

.foot img {
    width: 50px;
    position: relative;
    bottom: 2%;
    transition: 0.2s;
}
/*GITHUB LOGO HOVER*/
.foot img:hover {
    background: #9b9b9b;
    border-radius: 50%;
}

/*SOCIAL MEDIA*/
.social-media {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0710c5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-media h2 {
    margin-top: 50px;
    font-size: 50px;
    font-family: inter;
    font-weight: bolder;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #111);
}

.social-media .my-all-links {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 50px;
}

.my-all-links #qr {
    width: 350px;
    height: auto;
    position: relative;
    left: 10%;
    top: 10%;
}

.my-all-links span {
    position: relative;
    font-family: sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
    left: -27.5%;
    top: 10%;
}

.social-media iframe {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 400px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #111;
}

/*CONTACT ME*/

h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
}

h4 {
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 650px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    font-family: roboto;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
    color: 111;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 10px;
    display: inline-block;
    background-color: #444ce9;
    color: white;
    font-size: 20px;
    font-family: inter;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
              background: #fff;
              color: #1111119f;
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}